.table{
    border: 1px solid red;
    width: 1000px;;
    border-collapse:collapse ;
}
.th{
    border: 1px solid black;
    /* width:fit-content; */
}
.td{
    border: 1px solid black;
    /* width:fit-content; */
}

img{
    height: 200px;
    width: 200px;
}